<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="~/Content/style/reset.css" rel="stylesheet" />
    <link rel="stylesheet" media="screen and (max-width: 1023px)" href="~/Content/style/mobile.css" />
    <link rel="stylesheet" media="screen and (min-width: 1024px)" href="~/Content/style/chatime.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>
    <div class="chatime-Container">
        <div class="desktop_cont">
            <div class="chatime-topBar">
                <div class="chatime-logo-top" onclick="goToLandingPage()">
                    <img src="../images/chatimeLogo3x.png" />
                </div>
                <div class="dateandupload">
                    <p class="showDate">As of Date: <span class="todays-date"></span></p>
                    <p class="sync">
                        <i class="icon-refresh"></i>
                    </p>
                    <p class="download-block" style="display: none !important;">
                        <i class="icon-reports"></i>
                    </p>
                </div>
            </div>
            <div class="sidebar-container">
                <div class="sidebar sidebarInactive">
                    <nav class="navigation">
                        <ul class="navbar-list">
                        </ul>
                        <ul class="logout">
                            <li class="head-block-list" style="margin-bottom: 50px;cursor:pointer" id="logoutBtn">
                                <span class="option-head"> Logout</span>
                                <i class="icon-signout"></i>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="headOfficeBg">
                <p class="headerBlock">Head Office - Marketing</p>
                <div class="scrollbar">
                    <div class="subLinks">
                        <!--<p><a href="" id="mr1">App and UberEats Sales</a></p>
                        <p><a href="" id="mr2">Blueberry Sales Report</a></p>-->
                        <p><a href="" id="mr3">Member Analysis ATV</a></p>
                        <p><a href="" id="mr4">MixIns Report</a></p>
                        <p><a href="" id="mr5">Product Sales (Cube)</a></p>
                        <p><a href="" id="mr6">Sales And Transaction Report</a></p>
                        <p><a href="" id="mr7">Top 20 Member Report By Store</a></p>
                        <p><a href="" id="mr8">Warning Report – 5 Purchases (+) Per Member</a></p>
                        @*/* <p><a href="" id="mr8">Brewery Sales Trend</a></p>*/*@

                    </div>
                </div>
            </div>
         </div>

        <div class="mobile-parent-container">
            <div class="mobile-landind">
                <div class="mobile-top-bar">
                    <div class="mobile-menu-icon"> <i class="icon-menu" style="font-size: 13px;"></i></div>
                    <div class="mobile-chatime-logo"><img src="~/images/Chatime_Logo@1.5x.svg" alt="chatime" title="chatime" /></div>
                    <div class="mobile-refresh-icon"><p class="sync"><i class="icon-refresh"></i></p></div>
                    <div class="mobile-user-icon"><p class="download-block"><i class="icon-reports"></i></p></div>
                </div>

                <div class="m_menubar_overlay">
                    <div class="append-options"></div>
                    <div class="m_logout">Logout</div>
                    <div class="close-overlay"><img src="~/images/mobile-images/Close-Button.svg" /></div>
                </div>
            </div>
            <div class="orientation">
                <p><img src="~/images/mobile-images/Device-Rotate-Icon.svg" alt="rotate device" /></p>
                <p>We do not support landscape mode</p>
                <p>Please rotate your device and browse in portrait mode </p>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function GetURLParameter(sParam) {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++) {
            var sParameterName = sURLVariables[0].split('=');
            if (sParameterName[0] === sParam) {
                var activeIdName = sParameterName[1].replace(/%20/g, " ");
                console.log(activeIdName);
                if (activeIdName === "Finance" || activeIdName === "Marketing") {
                    $("#HeadOffice i").css("opacity", "1");
                }
            }
        };
    };

    $(window).on('load', function () {
    GetURLParameter('name');
    });






        $(document).ready(function () {
            // debugger;
            console.log(localStorage.getItem("auth"));
            if (localStorage.getItem("auth") === "" || localStorage.getItem("auth") === null || localStorage.getItem === undefined) {
                window.location.href = baseURL + "Home/Index";
            }
            //check ideal time of user
            var IDLE_TIMEOUT = 1800; //seconds
            var _idleSecondsTimer = null;
            var _idleSecondsCounter = 0;

            document.onclick = function () {
                _idleSecondsCounter = 0;
            };

            document.onmousemove = function () {
                _idleSecondsCounter = 0;
            };

            document.onkeypress = function () {
                _idleSecondsCounter = 0;
            };

            _idleSecondsTimer = window.setInterval(CheckIdleTime, 1000);

            function CheckIdleTime() {
                _idleSecondsCounter++;
                // console.log((IDLE_TIMEOUT - _idleSecondsCounter) + "")
                if (_idleSecondsCounter >= IDLE_TIMEOUT) {
                    $(".container, .topMenu, .head-block-list, .submenu-new li, .download-block, .sync").click(function () {
                        window.clearInterval(_idleSecondsTimer);
                        //alert("Time expired!");
                        localStorage.clear();
                        window.location.href = baseURL + "Home/Index";
                        console.log(localStorage.getItem("auth"));
                    });
                }
            }
            $(".subLinks a").click(function () {
                debugger;
              var data = $(this).html();
                var rId = $(this).attr("id")
                callLogAPI(data);
              console.log(data)
              $(this).attr("href", baseURL + "Home/EmbedReport?" + "name=HOMarketing" + "&sname=" + rId + "&d=d")
            });      
        });
        function goToLandingPage() {
                //debugger;
                window.location.href = baseURL + "Home/Landing";
        }

        function callLogAPI(reportName) {
                //debugger;
    var data = {
        "UserName": user,
        "Year": year,
        "ProjectName": "Chatime",
        "Month": month,
        "Date": sqlDate,
        "createdTimeStamp": sqlDate,
        "UpdatedTimeStamp": sqlDate,
        "ReportName": reportName,
        "DeviceType": device,
        "Session": auth
    };
    console.log(data, "data");
    $.ajax({
        url: RESTURL + 'api/userlogin/logg',
        type: 'post',
        data: data,
        dataType: 'json',
        async: true,
        success: function (response) {
            console.log(JSON.parse(response));
        }
    })
}

    </script>
    <script type="text/javascript" src="~/scripts/chatime.js"></script>
    <script type="text/javascript" src="~/scripts/chatime-events.js"></script>
</body>
</html>